<!-- Import model-->
@model IEnumerable<Requisicao_RSS.Application.DTOs.FornecedorDTO>
<!-- Header-->
<div class="row">
    <div class="col-12 mt-3">
        <h2 style="font-weight: 200">Fornecedores</h2>
    </div>
</div>

<hr />

<!-- Btn cadastrar fornecedor -->
<div class="row">
    <div class="col-md-3 col-6">
        <a class="btn btn-primary d-flex align-items-center justify-content-center" asp-action="Create">
            <span class="mr-1">Cadastrar Fornecedor</span>
            <i class="material-icons p-r-3" style="font-size:20px;color:white;">add</i>
        </a>
    </div>
</div>

<!-- Lista de Fornecedores-->
<div class="row">
    <div class="col-12 mt-3">
        <div class="table-responsive">
            <table class="table table-bordered table-sm text-center">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>CNPJ</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.Telefone)</td>
                            <td>@Html.DisplayFor(modelItem => item.CNPJ)</td>

                            <!-- Ações -->
                            <td style="width:220px;">
                                <!-- Opções fornecedor -->
                                <a asp-action="Details" asp-route-id="@item.FornecedorId" class="btn btn-sm btn-info"  data-toggle="tooltip" data-placement="bottom" title="Lista de Opções">
                                    <i class="material-icons">feed</i>
                                </a>
                                <!-- Editar fornecedor -->
                                <a asp-action="Edit" asp-route-id="@item.FornecedorId" class="btn btn-sm btn-dark"  data-toggle="tooltip" data-placement="bottom" title="Editar Fornecedor">
                                    <i class="material-icons">edit</i>
                                </a>
                                <!-- Remover fornecedor -->
                                <a asp-action="Remove" asp-route-id="@item.FornecedorId" class="btn btn-sm btn-danger"  data-toggle="tooltip" data-placement="bottom" title="Remover Fornecedor">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


