@using X.PagedList
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

<!-- Model com os dados paginados -->
@model X.PagedList.PagedList<Requisicao_RSS.Application.DTOs.EntregaMaterialDTO>
<!-- Header -->
<div class="row">
    <div class="col-12 mt-3 mb-3">

        <h4 style="font-weight: 200">Lista de entrega de materiais &nbsp;-&nbsp; <strong>@ViewBag.NomeFornecedor</strong></h4>
    </div>
</div>
<div class="row">
    <div class="col-3 col-md-1">
        <a asp-controller="Fornecedores" asp-action="Details" asp-route-id="@ViewBag.FornecedorId" class="d-flex align-items-center justify-content-center btn btn-primary btn-sm"><i class="material-icons" style="font-size:15px;color:#fff;">arrow_back_ios</i>Voltar</a>
    </div>
</div>

<!-- Pesquisar uma entrega por data específica -->
<div class="row">
    <div class="col-3 mt-3">
        @using (Html.BeginForm("GetDataEntrega", "Fornecedores", FormMethod.Post))
        {
            <div class="row">
                <div class="col-10">
                    <input type="hidden" value="@ViewBag.FornecedorId" name="fornecedorId" id="fornecedorId" />
                    <input class="form-control" type="date" id="data" name="data">
                </div>
                <div class="col-2">
                    <input class="btn btn-primary" type="submit" value="Filtrar">
                </div>
            </div>
        }
    </div>
</div>

<hr />

<!-- Opções de paginação -->
@if (ViewBag.xCondition != 1)
{
    <div class="row">
        <div class="col-12">

            <span class="font-weight-light">Página @Model.PageNumber de @Model.PageCount</span>
            <div class="mt-2">
                @Html.PagedListPager(Model, pagina => Url.Action("ListaEntregas", new { pagina }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded }.ApplyBootstrap4Style())
            </div>

        </div>
    </div>
}


<!-- Relatório em PDF -->
<div class="row">
    <div class="col ml-1">
        <a class="btn btn-info btn-sm" asp-action="RelatorioEntregas" asp-route-id="@ViewBag.FornecedorId" data-toggle="tooltip" data-placement="bottom" title="Relatório em PDF">Gerar relatório</a>
    </div>
</div>

<!-- Exibição das entregas -->
<table class="table table-bordered table-sm mt-3 text-center">
    <thead>
        <tr>

            <th>Data</th>
            <th>Nome</th>
            <th>Tipo</th>
            @if (Model.Any(c => c.Tipo == "Uniforme"))
            {
                <th>Quantidade Camisas</th>
                <th>Quantidade Calças</th>
            }
            @if (Model.Any(c => c.Tipo == "Luva"))
            {
                <th>Quantidade Luvas</th>
            }
            <th>Divergência</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Data)</td>
                <td>@ViewBag.NomeFornecedor</td>
                <td>@Html.DisplayFor(modelItem => item.Tipo)</td>
                @if (Model.Any(c => c.Tipo == "Uniforme"))
                {
                    <td>@Html.DisplayFor(modelItem => item.QuantidadeCamisas)</td>
                    <td>@Html.DisplayFor(modelItem => item.QuantidadeCalcas)</td>
                }
                @if (Model.Any(c => c.Tipo == "Luva"))
                {
                    <td>@Html.DisplayFor(modelItem => item.QuantidadeLuvas)</td>
                }
                <td>@Html.DisplayFor(modelItem => item.Divergencia)</td>

                <!-- Ações -->
                <td style="width:220px;">
                    <!-- Detalhes da entrega -->
                    <a asp-controller="EntregaMateriais" asp-action="Details" asp-route-id="@item.EntregaMaterialId" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top" title="Detalhes da entrega">
                        <i class="material-icons">feed</i>
                    </a>
                    <!-- Editar entrega -->
                    <a asp-controller="EntregaMateriais" asp-action="Edit" asp-route-id="@item.EntregaMaterialId" class="btn btn-sm btn-dark" data-toggle="tooltip" data-placement="top" title="Editar entrega">
                        <i class="material-icons">edit</i>
                    </a>
                    <!-- Remover entrega -->
                    <a asp-controller="EntregaMateriais" asp-action="Remove" asp-route-id="@item.EntregaMaterialId" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Remover entrega">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
